.input{
    text-align: center;
}
.groupResult{    
    border-radius: 3px;
    background-color: pink;
    padding: 7px;
}
.boxOfBorder{
    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 5px;
    border-width: 1px;   
    padding: 5px; 
    margin-bottom: 3px;
    text-align: center;    
}
.bg-lightblue{
    font-weight:bold;
    background-color: lightblue;
}
#output1{
    color: blue;
}
